.deform .req{
   color: red;
}

.deform label.desc{
    display: block;
    font-weight:bold;
}

.deform ul {
    margin: 0;
    padding: 0;
}

.deform li {
    clear: left;
    display: block;
    margin: 6px 0px;
    padding: 3px;
}

.deformClosebuttonActive {
   border: 0;
   cursor: pointer;
   float: left;
   /* width: 1em; */
   /* height: 1em; */
   /* margin: .5em; */
}

.deformClosebuttonActive:before {
    content:"✖";
    color:red;
    margin-right: 2px;
}

a.deformSeqAdd:visited {
   color: blue;
}

div.deformReplaces {
    float: left;
}

.deformSet-item {
    padding: 1px;
}

.deform ul.inline > li{
    display:inline-block;
}

/* error handling */
.deform .errorLi {
	padding: 14px 35px 14px 14px;
	margin-bottom: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	font-size: 1em;
}


.deform tr.error,
.deform tr.error td {
    background-color: #f2dede !important;
}

.deform li.error label.desc, .deform p.error, deform h3.errorMsgLbl{
    color: #b94a48;
	margin: 4px 0;
	font-weight: bold;
}
