Django>=2.2.12,<3
httplib2==0.19.1
feedparser==6.0.2
Markdown==3.3.4
psycopg2==2.8.6
pytz==2021.1

Tempita==0.5.2
requirements/src/chainedrandom-0.1.0.tar.gz

iso8601==0.1.14
colander==1.8.3
translationstring==1.4

peppercorn==0.6
ordereddict==1.1
Chameleon==3.9.0

zope.deprecation==4.4.0
deform==2.0.15

statsd==3.3.0

coverage==5.5

pyflakes==2.3.1
pep8==1.7.1
mccabe==0.6.1
pycodestyle==2.7.0
configparser==5.0.2
importlib-metadata==4.0.1  # for flake8
typing_extensions==3.7.4.3
zipp==3.4.1  # for flake8
flake8==3.9.1
logilab-common==1.8.1
lazy-object-proxy==1.6.0
wrapt==1.12.1

astroid==2.5.3

pylint==2.8.1

pyparsing==2.4.7
tornado==6.1
cssselect==1.1.0
sure==1.4.11

ipdb==0.13.7
lxml==4.6.3

extras==1.0.0
python-mimeparse==1.6.0
fixtures==3.0.0
testtools==2.4.0
testscenarios==0.5.0
python-subunit==1.4.0
sqlparse==0.4.1

# boto3 deps
urllib3==1.26.4  # sentry-sdk
s3transfer==0.4.2
jmespath==0.10.0

botocore>=1.15.0,<1.21.0
boto3>=1.12.0,<1.18.0

six==1.15.0
python-dateutil==2.8.1
gunicorn==20.1.0
pyasn1==0.4.8
pyOpenSSL==20.0.1
ndg-httpsclient==0.5.1
contextlib2==0.6.0.post1

djangowind==1.2.3

requirements/src/djangohelpers-0.22-py2.py3-none-any.whl

django-courseaffils==2.2.5

django-registration==3.1.2
django-statsd-mozilla==0.4.0
django-smoketest==1.1.2
raven==6.10.0
certifi==2020.12.5  # sentry-sdk
sentry-sdk==1.0.0
django-debug-toolbar==3.2.1

django-impersonate==1.7.3

django-stagingcontext==0.1.0
django-waffle==2.1.0
django-markwhat==1.6.2
django-storages==1.11.1
django-appconf==1.0.4
django-compressor==2.4.1
django-cacheds3storage==0.2.2
django-ga-context==0.1.0
django-smtp-ssl==1.0

ccnmtlsettings==1.9.0
confusable_homoglyphs==3.2.0

pbr==5.5.1
PyYAML>=3.10.0 # MIT
stevedore>=1.20.0 # Apache-2.0
bandit==1.7.0

entrypoints==0.3
