{% load mvsim_tags %}
<div class="tabbertab" title="History" style="clear: both;">
  <!-- Begin class=tabbertab, that binds History -->
  <div id="historybox">
    {% if not full_page_view %}
    <h1>Record of individual turns</h1>
    {% endif %}

    <p>You can <a href="{{game.game_history_csv_url}}">
	download a CSV file</a> 
      of the complete history of this game.
      <span>Or you can <a href="{{game.game_csv_url}}">
	  save the current state to CSV</a>.
    </span></p>
    
    <table cellpadding="0" cellspacing="0" border="0" class="history_roster">
      <tr>
	<th>Turn number:</th>
	<th>Timestamp</th>
      </tr>
      
      {% for turn in game.turns %}
      {% with forloop.counter as turn_number %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td>
	  <a href="{% url 'game_turn_history' game.id turn_number %}" 
	     title="{{turn.created}}">
	    Year {{turn_number|reverse_engineer_year}},
	    Season {{turn_number|reverse_engineer_season}}
	  </a>
	</td>
	<td>
	  {{turn.created|date}} {{turn.created|time}}
	</td>
      </tr>
      {% endwith %}
      {% endfor %}
    </table>
    
    <h2>Graphing tool</h2>
    <a href="{% url 'game_graph' game.id %}">
      Click here to explore the history of this game
      with the interactive graphing tool
    </a>
    
  </div>
  
</div><!-- End class=tabbertab, that binds History -->
