<div id="report" style="display:block">
  <div id="shadow"><div id="shadowtop"><div id="shadowbody"></div></div></div>
 
  <div id="dossier">
    <div id="d_header">
      <div id="d_header_inner">
	<a href="" onclick="hideReport();return false">close</a>
	<h1>Initial Report</h1>
      </div>
    </div>
    
    <div id="d_content">
      
      <div id="initial_alpha">
	<h2>
	  <div>
	    Some stuff on the left
	  </div>
	</h2>
	<div class="sectionbox">
	  <h2>
	    A wonderful heading
	  </h2>
	  Hi, welcome to the game.
	</div>
      </div>
      
      <div id="initial_beta">
	<h2><div><div id="inner_h2">
	      A lovely heading
	</div></div></h2>
	
	<div id="beta_one">
	  <div class="sectionbox">
	    <h2>Something about stuff</h2>
	    Stuff
	  </div>
	</div>
	
	<div id="beta_two">
	  <div class="sectionbox">
	    <h2>Some other stuff</h2>
	    Stuff
	  </div>
	</div>
	
      </div>
      
    </div>
  </div>
</div>

