{% extends "base.html" %}

{% block title %}My Games{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/site_media/javascript/MochiKit/MochiKit.js"></script>

  <script type="text/javascript">
    function namechange(game_id) {
      textbox = $("name_" + game_id);
      name = textbox.value;

      // error check -- make sure the name is not a duplicate
      var update = true;
      forEach(getElementsByTagAndClassName("input","gamename"),
         function(element) {
            if(element != textbox) {
               if(element.value == name) {
                  alert('Please choose a unique name.');
                  textbox.value = $("default_" + game_id).innerHTML;
                  update = false;
               }
            }
      });
      
      if(update) {
         var url = "/games/" + game_id + "/edit/";
         doSimpleXMLHttpRequest(url, {'name':name});
         $("default_" + game_id).value = name;
      }
   }
    
    function verify_state(form) {
    	var x = form["starting_state_id"].value;
    	if (x === '-----') {
    		alert("Please select a starting state");
    	  	return false;
    	}
    	return true;
    }
  </script>

{% endblock %}

{% block content %}

<div id="savedgames" class="mvsim-admin">
  <h1>My Games</h1>

	<a name="start"></a>
    <div id="newgameopt">
        <h3 class="mygames">Start New Game</h3>
        <form name="start-new-game" action="{% url new_game %}" method="post" onsubmit="return verify_state(this)">
        	<fieldset>
	            {% csrf_token %}	            
	            <div class="form-row field-name">
	                <div>
	                    <label for="starting_state_id">Choose Starting State:</label>
						<select name="starting_state_id">
							{% if starting_states|length > 1 %} 
	                  			<option value="-----">-----</option>
	                  		{% endif %}
	                    	{% for state in starting_states %}
	                    		<option value="{{state.pk}}">{{state}}</option>
	                    	{% endfor %}
		                </select>
	                </div>
		        </div>	        	
            </fieldset>
            <div class="submit-row"><input type="submit" value="Start Game" class="regButton right" /></div>  
        </form>
    </div>
  
  	<a name="saved"></a>
    <h3 class="mygames">Saved games</h3>
        {% if games.count == 0 %}
            <div style="margin: 0 0 20px 0">
                You have no games saved.
            </div>
        {% else %}
          <table border="0" cellspacing="0" cellpadding="0"  style="width: 100%; font-size: .9em;"
        	 class="striped" onclick="sortColumn(event)">
            <thead>
              <tr>
        	<th class="navOut" id="name" style="padding: 5px;">Name</th>
        	<th class="navOut" id="date_s" style="text-align: center; padding: 5px;">Date started</th>
        	<th class="navOut" id="date_e" style="text-align: center; padding: 5px;">Date ended</th>
        	<th class="navOut" id="status" style="text-align: center; padding: 5px;">Status</th>
        	<th class="navOut Number" id="score" style="text-align: center; padding: 5px;">Score</th>
        	<th class="navOut" id="actions"></th>
        	<th class="navOut" id="delete"></th>
              </tr>
            </thead>
              
            <tbody>
              {% for game in games %}
              <tr class="{% cycle 'odd' 'even' %}">
        	<td>
        	  <input onChange="javascript:namechange({{game.id}});" type="text" id="name_{{game.id}}" value="{{game}}" class="gamename" size="50"/>
        	</td>
        	<td style="text-align: center">{{game.created}}</td>
        	<td style="text-align: center">
        	  {% if game.in_progress %}
        	  --
        	  {% else %}
        	  {{game.modified}}
        	  {% endif %}
        	</td>
        	<td  style="text-align: center">{{game.status}}</td>
        	<td  style="text-align: center">{{game.score}}</td>
        	{% comment %}
        	<td py:if="tg.user.is_admin()">${game.seed}</td>
        	<td py:if="tg.user.is_admin()">${game.configuration.name}</td>
        	<td py:if="tg.user.is_admin()"><span py:if="game.saved_state is not None">${game.saved_state.name}</span><span py:if="game.saved_state is None">(default)</span></td>
        	{% endcomment %}
        
        	<td>
        	  {% if game.in_progress %}
        	  <a href="{{game.show_game_url}}" class="regButtonblock">Resume</a>
        	  {% endif %}
        {% if game.game_clone_url %}	  <a href="{{game.game_clone_url}}"
        	  class="regButtonblock">Clone</a> {% endif %}
        	  <a href="{{game.game_history_url}}" class="regButtonblock">History</a>
        	  <a href="{{game.graph_url}}" class="regButtonblock">Graphs</a>
        	  {% if request.user.is_staff %}
        {% if game.game_csv_url %}	  <a href="{{game.game_csv_url}}"
        	  class="regButtonblock">CSV</a>{% endif %}
        	  {% endif %}
        	</td>
        	<td style="text-align: center; vertical-align: top">
        	  <form action="{{game.delete_url}}" method="post">
        	  <input type="submit"
        		 value="Delete"
        	     onclick="return confirm('are you sure you want to delete this game?');" 
        	     class="regButton"/>
        	  </form>
        	</td>
        	</tr>
              {% endfor %}
              </tbody>
            </table>
            
        {% endif %}  
        
  

    <div style="clear:both;"></div>    

    {% if high_scores %}
    <div style="margin: 30px 0 0 0;">
      <h3 class="mygames">High Scores</h3>

      <table border="0" cellspacing="0" cellpadding="0" class="striped" style="width: 50%; font-size: .9em;">
        <thead>
          <tr>
            <th class="navOut" style="cursor: default;">#</th>
            <th class="navOut" style="cursor: default;">Player</th>
            <th class="navOut" style="cursor: default;">Score</th>
          </tr>
        </thead>

        <tbody>
	  {% for g in high_scores %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td>{{forloop.counter}}</td>
            <td>{% if g.user.last_name %}
	      {{g.user.get_full_name}}
	      {% else %}
	      {{g.user.username}}
	      {% endif %}
	    </td>
            <td>{{g.score}}</td>
          </tr>
	  {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

  </div>  

{% endblock %}
