{% load mvsim_tags %}
<div class="tabbertab" title="Village Actions" id="village-actions-tab">
  
  <div class="h2"><h2><a href="#buy-village-improvements" class="hs-control">
	Buy Village Improvements</a></h2></div>
  <div id="buy-village-improvements">
    <div class="actionbox">
      <table>
	{% for thing in available_village_improvements %}
	{% with thing.0 as item %}
	{% with thing.1 as label %}
	{% with thing.2 as price %}
	<tr>
	  <td>
	    {% if state|get_attr:item %}
	    <span>
    	      <input type="checkbox" name="improvement-{{item}}" checked="" disabled="" />
	    </span>
	    {% else %}
	    <span>
    	      <input type="checkbox" 
		     class="village_improvement_choice"
		     name="improvement-{{item}}"
		     {% if state.fund|lt:price %}disabled=""{% endif %}
		     />
    	    </span>
	    {% endif %}
   	  </td>
	  <td style="width:58px;padding:0px;" align='center'>
	    <img src="/site_media/images/icons/{{item}}.png" alt=""/>
	  </td>
	  
	  <td><b>{{label}}</b><br />
	    CFA <span class="village_improvement_price">{{price|format_float}}</span>
	  </td>
	</tr>
	{% endwith %}{% endwith %}{% endwith %}
	{% endfor %}
      </table>
    </div>
  </div>
      
  <div class="h2"><h2><a href="#implement-policy" class="hs-control">
	Implement Policy</a></h2></div>
  <div id="implement-policy" class="hs-init-show">
    <div class="actionbox">
      <h3>Collection Limits</h3>
      <p>Set limits on fishing and wood collection in order to prevent depletion of village resources.</p>
      <table>
	<tr>
	  <td rowspan="2" style="width:15%;">&nbsp;</td>
	  <td>
	    {% if state.fishing_limit|gt:0 %}
	    <span>
	      <input type="checkbox" checked=""/>
	    </span>
	    {% endif %}
	    {% if state.fishing_limit == 0 %}
	    <span>
	      <input type="checkbox" />
	    </span>
	    {% endif %}
	    <br />&nbsp;   	    
	  </td>

	  <td>Enforce Fishing Limit<br />&nbsp;</td>
	  <td><input type="text" size="2" name="fishing_limit" 
		     id="fishing-limit"
		     class="plusminus notnegative"
		     value="{{state.fishing_limit}}"/>
	    <small>fish / family<br/>(per&nbsp;season)</small></td>
	</tr>
	<tr>
	  <td>
	    {% if state.wood_limit|gt:0 %}
	    <span>
	      <input type="checkbox" checked=""/>
	    </span>
	    {% endif %}
	    {% if state.wood_limit == 0 %}
	    <span>
	      <input type="checkbox" />
	    </span>
	    {% endif %}
	    <br />&nbsp;
	  </td>

	  <td>Enforce Fuel Wood Collection Limit:<br />&nbsp;</td>
	  <td><input type="text" size="2" 
		     id="wood-limit" class="plusminus notnegative"
		     name="wood_limit" value="{{state.wood_limit}}"/>
	    <small>tons / family<br />(per&nbsp;season)</small></td>
	</tr>
      </table>

      <h3>Income Tax</h3>
      <p>Increase the income tax rate to add money to the village fund.</p>
      
      <table style="width:60%">
        <tr>
          <td style="width:33%">&nbsp;</td>
   	  <td>Tax Rate:</td>
          <td>
            <input class="plusminus notnegative maxhundred" id="tax_rate" 
		   type="text" size="2" name="tax_rate"
	           value="{{state.tax_rate}}" /><small>percent</small>
	  </td>
	</tr>
      </table>
    </div>
  </div>

</div>
