{% load mvsim_tags %}
<div class="tabbertab" title="History" style="clear: both;">
  <!-- Begin class=tabbertab, that binds History -->
  <div id="historybox">
    <h1>Record of individual turns</h1>
		
    <p>You can <a href="/games/{{game.id}}/history_csv">download a CSV file</a> 
      of the complete history of this game.
      <span>Or you can <a href="/games/{{game.id}}/csv">save the current state
	  to CSV</a>.</span></p>
    
    <table cellpadding="0" cellspacing="0" border="0" class="history_roster">
      <tr>
	<th>Turn number:</th>
      </tr>
      
      {% for turn in game.turns %}
      {% cycle "odd" "even" as rowcolors silent %}
      <tr class="{{rowcolors}}">
	<td>
	  <a href="/games/{{game.id}}/view_turn?turn_id={{turn.id}}" 
	     title="{{turn.timestamp}}">
	    Year {{turn.number|reverse_engineer_year}},
	    Season {{turn.number|reverse_engineer_season}}
	  </a>
	</td>
      </tr>
      {% endfor %}
    </table>
    
    <h2>Graphing tool</h2>
    <a href="/games/{{game.id}}/graph">
      Click here to explore the history of this game
      with the interactive graphing tool
    </a>
    
    <h2>Variables</h2>
    
    <table cellpadding="0" cellspacing="0" border="0" class="history_roster">
      <tr>
	<th>Variable</th>
      </tr>
      
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=amount_maize">Maize
	    Harvest</a></td>
      </tr>
      
      <tr class="odd">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=amount_cotton">Cotton
	    Harvest</a></td>
      </tr>
      
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=amount_wood">Wood
	    Collected</a></td>
      </tr>
      
      <tr class="odd">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=amount_fish">Fish
	    Caught</a></td>
      </tr>
      
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=village_births">Village
	    births</a></td>
      </tr>
      
      <tr class="odd">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=village_deaths">Village
	    Deaths</a></td>
      </tr>
      
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=village_population">Village
	    Population</a></td>
      </tr>
      
      <tr class="odd">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=village_infected_pop">Number
	    of Villagers Infected</a></td>
      </tr>
      
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=malaria_deaths">Malaria
	    Deaths</a></td>
      </tr>
      
      <tr class="odd">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=cash">Family Fund</a></td>
      </tr>
      
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=income">Family Income</a></td>
      </tr>
      
    <tr class="odd">
      <td><a
	     href="/games/{{game.id}}/variable_history?variable=effort_farming">Daily
	  Farming Hours</a></td>
    </tr>
    
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=effort_fishing">Daily
	    Fishing Hours</a></td>
      </tr>
      
      
      <tr class="odd">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=effort_fuel_wood">Daily
	    Wood Collection Hours</a></td>
      </tr>
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=effort_water">Water Collection Hours</a></td>
      </tr>
      <tr class="odd">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=effort_small_business">Small
	    Business Effort</a></td>
      </tr>
      
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=cotton_income">Cotton
	    Income</a></td>
      </tr>
      <tr class="odd">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=cost_to_market">Cotton
	    Transportation Costs</a></td>
      </tr>
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=fish_cals">Raw
	    Fish Calories</a></td>
      </tr>
      <tr class="odd">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=maize_cals">Raw 
	    Maize Calories</a></td>
      </tr>
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=fund">Village
	    Fund</a></td>
      </tr>
      <tr class="odd">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=small_business_capital">Small Business Capital</a></td>
      </tr>
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=fish_stock">Fish Stock</a></td>
      </tr>
      <tr class="odd">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=wood_stock">Wood Stock</a></td>
      </tr>
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=wood_income">Income
	    from Wood Sales</a></td>
      </tr>
      <tr class="odd">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=food_income">Income
	    from Food Sales</a></td>
      </tr>
      <tr class="even">
	<td><a
	       href="/games/{{game.id}}/variable_history?variable=precipitation">Precipitation</a></td>
      </tr>
      
    </table>
    
    
  </div>
  
</div><!-- End class=tabbertab, that binds History -->
