{% extends "base.html" %}
{% load mvsim_tags %}
{% block title %}Millennium Village{% endblock %}

{% block content %}
<div>

  <div id="turn_report">
    <h1><div><div id="inner_h1">History of Game {{game}}</div></div></h1>	

    {% with "True" as full_page_view %}
    {% include "game/game_history.html" %}        
    {% endwith %}

    <form action="{% url new_game %}" method="post">
      <p>
	You can <input type="submit" value="begin another game"
		       class="regButton" style="font-weight: bold;" />
	or <a href="{% url games_index %}">return to your games page</a>.</p>
    </form>
    
  </div>

</div>

{% endblock %}
