{% load mvsim_tags %}
<div id="alpha">
  
  <h2><div>Announcements</div></h2>
  
  <div class="sectionbox">
    <h2>Family</h2>
    {% for event in notifications %}
    {% if event.scope == "family" %}
    <div class="announcement_{{event.color}}">
      <ul class="announcements">
	<li class="{{event.css_class}}">{{event.message|safe}}</li>
      </ul>
    </div>
    {% endif %}
    {% endfor %}

    <!-- Subsistence met -->
    {% if state.subsistence_met %}
    <div class="goodnews">
      <ul class="announcements">
	<li id="subs_met"><b>Subsistence was met.</b></li>
      </ul>
    </div>
    {% endif %}
    
    {% if "good cotton" in state.user_messages %}
    <div class="goodnews">
      <ul class="announcements">
	<li class="cotton_report">
	  <b>You have high cotton yield.</b><br />Congratulations!
	</li>
      </ul>
    </div>
    {% endif %}
    
    {% if "good maize" in state.user_messages %}
    <div class="goodnews">
      <ul class="announcements">
	<li class="maize_report"><b>You have high maize yield.</b><br />Congratulations!</li>
      </ul>
    </div><!-- End class="goodnews" -->
    {% endif %}
        
    {% if 'child born' in state.user_messages %}
    <div class="goodnews">
      <ul class="announcements">
	<li class="baby_birth">
	  <b>Welcome, {{new_baby}}!</b>
	  <br />Congratulations on your new arrival!
	</li>
      </ul>
    </div><!-- End class="goodnews" -->
    {% endif %}
    
    {% if not state.subsistence_met %}
    <div class="badnews">
      <ul class="announcements">
	<li id="subs_not_met"><b>Subsistence was not met!</b>
	  {% if 'insufficient propane' in state.user_messages %}
	  <span>
	    <br />
	    You did not have enough propane to meet your energy requirements.
	  </span>
	  {% endif %}
	  
	  {% if "insufficient wood" in state.user_messages %}
	  <span>
	    <br />
	    Not enough wood was collected to meet your energy requirements.
	  </span>
	  {% endif %}
	</li>
      </ul>
    </div><!-- End class="badnews" -->
    {% endif %}

    {% if 'insufficient water' in state.user_messages %}
    <div class="badnews">
      <ul class="announcements">
	<li class="drought_report"><b>Water subsistence was not met.</b></li>
      </ul>
    </div><!-- End class="badnews" -->
    {% endif %}  
    
    {% if 'poor maize' in state.user_messages %}
    <div class="badnews">
      <ul class="announcements">
	<li class="maize_report"><b>Unfortunately, your maize yield was very poor this season.</b></li>
      </ul>
    </div><!-- End class="badnews" -->
    {% endif %}
    
    {% if n_sick_people %}
    <div class="badnews">
      <ul class="announcements">
	{% if 'malaria' not in sick_people_string %}
	<li class="sick_announce">
	  <b>{{sick_people_string}}</b>
	</li>
	{% else %}
	<li class="sick_announce malaria_announce">
	  <b>{{sick_people_string}}</b>
	</li>
	{% endif %}
      </ul>
    </div><!-- End class="badnews" -->
    {% endif %}  
    
    {% if n_health_people %}
    <div class="badnews">
      <ul class="announcements">
	{% for person in people %}
	{% if person.health < 50 %}
	<li class="health_announce">
	  <b>{{person.name}} is in danger!</b>
	  <br />
	  See a doctor: health is only {{person.health}}!
	</li>
  	{% endif %}
	{% endfor %}
      </ul>
    </div><!-- End class="badnews" -->
    {% endif %}
    
    {% if 'bednet deteriorated' in state.user_messages %}
    <div class="badnews">
      <ul class="announcements">
	<li class="bednet_announce">
	  <b>One of your bednets has worn out.</b>
	</li>
      </ul>
    </div><!-- End class="badnews" -->
    {% endif %}
    
    {% if state.died|length and state.died.0 %}
    <div class="badnews">
      <ul class="announcements">
	{% for person in state.died %}
	{% with forloop.counter0 as index %}
	{% with state.died_reasons.index as reason %}
	<li class="death_announce">
	  <b>{{person}}
	    {% if reason == "childbirth" %}
	    <span>died in childbirth.</span>
	    {% else %}
	    <span>passed away.</span>
	    {% endif %}
	  </b>
	  <br />
	  The villagers have gathered to pay condolences
	  and help with the burial.
	</li>
	{% endwith %}
	{% endwith %}
	{% endfor %}
      </ul>
    </div>
    {% endif %}
    
  </div>
  
  {% if village_goodnews_block or village_badnews_block %}
  <div class="sectionbox"> 
    
    <h2>Village</h2>
    
    {% for event in notifications %}
    {% if event.scope == "village" %}
    <div class="announcement_{{event.color}}">
      <ul class="announcements">
	<li class="{{event.css_class}}">{{event.message|safe}}</li>
      </ul>
    </div>
    {% endif %}
    {% endfor %}

    {% if has_subsidy %}
    <div class="goodnews">
      <ul class="announcements subsidy_report">
	
	{% if "road subsidy" in state.user_messages %}
	<li>
	  <span>
	    The Government has offered to subsidize the building of a road.
	    <br /> Its cost has been reduced on the Village Improvements tab.
	  </span>
	</li>
	{% endif %}
	
	{% if 'clinic subsidy' in state.user_messages %}
	<li>
	  <span>
	    The Government has offered to subsidize the building of a clinic.
	    <br /> Its cost has been reduced on the Village Improvements tab. 
	  </span>
	</li>
	{% endif %}
	
	{% if 'NGO bednets' in state.user_messages %}
	<li>
	  <span>
	    An NGO has distributed free bednets to the village and your family.
	  </span>
	</li>
	{% endif %}
	
	{% if 'irrigation subsidy' in state.user_messages %}
	<li>
	  <span>
	    An NGO has offered to subsidize irrigation.<br /> 
	    Its cost has been reduced on the Village Improvements tab.
	  </span>
	</li>
	{% endif %}
	
	{% if "sanitation subsidy" in state.user_messages %}
	<li>
	  <span>
	    An NGO has offered to subsidize sanitation.<br /> 
	    Its cost has been reduced on the Village Improvements tab.
	  </span>
	</li>
	{% endif %}
	
	{% if 'water pump subsidy' in state.user_messages %}
	<li>
	  <span>
	    An NGO has offered to subsidize a water pump.<br /> 
	    Its cost has been reduced on the Village Improvements tab. 
	  </span>
	</li>
	{% endif %}
	
	{% if 'meals subsidy' in state.user_messages %}
	<li>
	  <span>
	    An NGO has offered to subsidize school meals.<br /> 
	    Its cost has been reduced on the Village Improvements tab. 
	  </span>
	</li>
	{% endif %}
	
	{% if 'electricity subsidy' in state.user_messages %}
	<li>
	  <span>
	    An NGO has offered to subsidize a power grid.<br /> 
	    Its cost has been reduced on the Village Improvements tab.
	  </span>
	</li>
	{% endif %}
	
      </ul>
    </div>
    {% endif %}

    {% if 'good rains' in state.user_messages %}
    <div class="goodnews">
      <ul class="announcements">
	<li class="goodrain_report">
	  <b>The rains were very good last season.</b>
	</li>
      </ul>
    </div>
    {% endif %}
    
    {% if state.drought %}
    <div class="badnews">
      <ul class="announcements">
	<li class="drought_report">
	  <b>There is drought!</b>
	  <br />Rainfall for last season was only
	  {{state.precipitation|format_float}} mm
	</li>
      </ul>
    </div><!-- End class="badnews" -->
    {% endif %}
    
    {% if state.epidemic %}
    <!-- Malaria epidemic -->
    <div class="badnews">
      <ul class="announcements">
	<li class="malaria_announce">
	  <b>Malaria epidemic!</b>
	  {% if state.malaria_deaths %}
	  <br />
	  <span>
	    {{state.malaria_deaths|format_int}} people have died
	  </span>
	  {% endif %}
	  
	  {% if percent_infected %}
	  <br />
	  <span>
	    {{percent_infected|format_int}}% of population is infected
	  </span>
	  {% endif %}
	</li>
      </ul>
    </div>
    {% endif %}
        
  </div><!-- End class="sectionbox" for the village portion of the announcement -->
  {% endif %}
  
</div><!-- End id="alpha" -->

