<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <title>{% block title %}{% endblock %}</title>
    
    {% block scripts %}{% endblock %}
    <style type="text/css">
      #pageLogin {
        font-size: 10px;
        font-family: verdana;
        text-align: right;
      }
    </style>
    <style type="text/css" media="screen">
      @import "/site_media/css/style.css";
    </style>
    
  </head>
  
  <body{% block body_attributes %}{% endblock %}>
    <div id="header">
      {% if user %}
      <div id="pageLogin">
	<ul>
	  <li>
	    <b>Member name:</b>
	    {{user.username}}
	  </li>
	  <li>
	    <a href="{% url games_index %}">My games</a>
	  </li>
	  {% if user.is_admin %}
	  <li><a href="/admin/">Sim admin</a></li>
	  {% endif %}
	  <li><a href="http://mvsim.wikispaces.com">Help</a></li>
	  <li><a href="http://mvsim.wikispaces.com/Credits">Credits</a></li>
	  <li><a href="mailto:ccnmtl-mvsim@columbia.edu">Feedback</a></li>
	  <li><a href="/?unset_course">Switch Course</a></li>
	  <li><a href="/accounts/logout/">Logout</a></li>
	</ul>
      </div>
      {% endif %}
    </div>
    
    <div id="main_content">
      {% block content %}{% endblock %}
    </div>
    
    {% block endscripts %}
    {% endblock %}
  </body>
</html>
