{% extends "base.html" %}
{% block content %}

<div id="savedgames">
  <h2 class="mygames">My saved games: {{section}}</h2>
  
  {% if games.count == 0 %}
  <div style="margin: 0 0 20px 0">
    You have no games saved.
    To begin your game in the Millennium Village, click "Start new game."
  </div>
  {% endif %}
  
  <div id="newgameopt">
    <form name="start-new-game" action="{% url new_game %}" method="post">
      {% csrf_token %}
      <div id="adminoptions">
	<h3>Game options:</h3>
	<div id="configselect">
	  Starting State: <select name="starting_state_id">
	    {% for state in section.starting_states.all %}
	    <option value="{{state.pk}}">{{state}}</option>
	    {% endfor %}
	  </select>
	</div>
		
	{% comment %}
	<div py:if="tg.user.is_admin()" id="seedselect">
	  Seed: <input type="text" name="seed" />
	</div>
	{% endcomment %}

      </div>
	
      <div style="float: left;">
	<input type="submit" value="Start new game"
	       class="regButton" style="font-weight: bold;" />
      </div>
      <div style="clear:both;"></div>
    </form>
  </div>
  <div style="clear:both;"></div>
  
  <table border="0" cellspacing="0" cellpadding="0" 
	 class="striped" onclick="sortColumn(event)">
    <thead>
      <tr>
	<th class="navOut" id="name">Name</th>
	<th class="navOut" id="date_s">Date started</th>
	<th class="navOut" id="date_e">Date ended</th>
	<th class="navOut" id="status">Status</th>
	<th class="navOut Number" id="score">Score</th>
	{% comment %}
	{% if request.user.is_staff %}
	<th class="navOut Number" id="seed">Seed</th>
	<th class="navOut" id="config">Configuration</th>
	{% endif %}
	{% endcomment %}

	<th class="navOut" id="actions"></th>
	<th class="navOut" id="delete"></th>
      </tr>
    </thead>
      
    <tbody>
      {% for game in games %}
      <tr style="vertical-align: top;" class="{% cycle 'odd' 'even' %}">
	<td>
	  {{game}}
	</td>
	<td>{{game.created}}</td>
	<td>
	  {% if game.in_progress %}
	  --
	  {% else %}
	  {{game.modified}}
	  {% endif %}
	</td>
	<td>{{game.status}}</td>
	<td>{{game.score}}</td>
	{% comment %}
	<td py:if="tg.user.is_admin()">${game.seed}</td>
	<td py:if="tg.user.is_admin()">${game.configuration.name}</td>
	<td py:if="tg.user.is_admin()"><span py:if="game.saved_state is not None">${game.saved_state.name}</span><span py:if="game.saved_state is None">(default)</span></td>
	{% endcomment %}

	<td>
	  {% if game.in_progress %}
	  <a href="{{game.show_game_url}}" class="regButtonblock">Resume</a>
	  {% endif %}
	  <a href="{{game.game_clone_url}}" class="regButtonblock">Clone</a>
	  <a href="{{game.game_history_url}}" class="regButtonblock">History</a>
	  <a href="{{game.graph_url}}" class="regButtonblock">Graphs</a>
	  {% if request.user.is_staff %}
	  <a href="{{game.game_csv_url}}" class="regButtonblock">CSV</a>
	  {% endif %}
	</td>
	<td style="text-align: center;">
	  <a href="{{game.delete_url}}"
	     onclick="return confirm('are you sure you want to delete this game?');" 
	     class="regButton">
	    Delete
	  </a>
	</td>
	</tr>
      {% endfor %}
      </tbody>
    </table>

    <div style="margin: 30px 0 0 0;">
      <h2 class="mygames">High Scores</h2>

      <table border="0" cellspacing="0" cellpadding="0" class="striped">
        <thead>
          <tr>
            <th class="navOut" style="cursor: default;">#</th>
            <th class="navOut" style="cursor: default;">Player</th>
            <th class="navOut" style="cursor: default;">Score</th>
          </tr>
        </thead>

        <tbody>
	  {% for g in high_scores %}
          <tr class="{% cycle 'even' 'odd' %}">
            <td>{{forloop.counter}}</td>
            <td>{% if g.user.last_name %}
	      {{g.user.get_full_name}}
	      {% else %}
	      {{g.user.username}}
	      {% endif %}
	    </td>
            <td>{{g.score}}</td>
          </tr>
	  {% endfor %}
        </tbody>
      </table>
    </div>


  </div>  
{% endblock %}
