{% extends "base.html" %}

{% block content %}

  <div id="welcomebox">
    <h2>Welcome to the MV Sim!</h2>

    <p>
      <img src="/static/images/overview.jpg" 
	   alt="" width="125" height="115" style="float:right;" />
      Economic development has lifted more than 100 million people
      out of extreme poverty since the mid-1990s. Despite the good
      news, much of sub-Saharan Africa remains mired in seemingly
      intractable poverty. The 
      <a target="_blank" href="http://www.millenniumvillages.org/">
	Millennium Villages</a> project offers a bold, innovative
      model for helping rural African communities lift themselves 
      out of poverty traps. The project is based on a single powerful
      idea: impoverished villages can transform themselves and meet
      the
      <a target="_blank"
	 href="http://mvsim.wikispaces.com/Millennium+Development+Goals">
	Millennium Development Goals (MDGs)</a> if they are empowered
      with proven, practical technologies.
    </p> 

<p>Africa faces difficult structural challenges including high
  transport costs and small markets, low-productivity agriculture,
  high disease burden, a history of adverse geopolitics, and slow
  diffusion of technology from abroad. However, in countries where
  governments are committed, these challenges can be overcome if
  addressed through an intensive program that directly confronts
  them. The MDGs offer a "bottom up" approach to lifting villages out
  of poverty traps.</p> 

<p>The MV Sim (short for Millennium Village Simulation) was created as
  a teaching tool to help students appreciate the complexity of
  meeting the
  <a target="_blank"
     href="http://mvsim.wikispaces.com/Millennium+Development+Goals">MDGs</a>
  in a rural African setting, and to experience the interdisciplinary
  nature of sustainable development. The MV Sim does not strive to be
  a perfect replica of a real village; indeed, many of Africa's
  challenges (such as HIV/AIDS) are not present in the
  simulation. Instead, the MV Sim purposefully incorporates only a
  select set of issues to make it a manageable educational tool that
  models challenges cutting across the disciplines of agronomy, public
  health, environmental science, and economics.</p> 

<p>The simulation models linkages between household- and village-level
  decisions, various eco- and agronomic systems, and disease ecology
  in the sub-Saharan African context. You will play the role of a
  villager in this setting. Your goal is to provide a sustainable
  livelihood for your family as you move from subsistence farming and
  fishing to income-generating activities. Each simulation period or
  turn represents a growing season, and you'll have many choices to
  make, including: what to grow; how much time to spend collecting
  water and fuelwood; what to buy for your family; how much to tax the
  village. As you improve life for your family and the village, you
  come closer to meeting the MDGs and earn more points.</p> 

<p>Use the wiki as an <a target="_blank"
			 href="http://mvsim.wikispaces.com/Key+MV+Sim+Elements">encyclopedia</a>
  to learn more about each issue included in the MV Sim.</p> 

<p>Good luck!</p>

<p>First time playing? Take a look at the 
  <strong><a target="_blank"
	     href="http://mvsim.wikispaces.com/Player+Quick+Start+Guide">Quick
      Start Guide</a></strong> before beginning. Also, try out
  the <strong><a target="_blank"
		 href="http://mvsim.wikischolars.columbia.edu/MVSim+Tutorial">MVSim
      Tutorial page</a></strong> for a brief tutorial video.</p> 

<p>
Learn about the <em>real</em> Millennium Villages
at <a target="_blank"
      href="http://www.millenniumvillages.org/">www.millenniumvillages.org</a><br /> 
Read academic articles on the <a target="_blank"
				 href="http://www.earth.columbia.edu/sitefiles/File/PNAS.pdf">Millennium
    Villages</a>, <a target="_blank"
		     href="http://mvsim.wikispaces.com/Extreme+Poverty">Extreme
    Poverty</a> and <a target="_blank"
		       href="http://www.earth.columbia.edu/sitefiles/File/about/director/documents/bpea0104.pdf">Ending
    Africa's Poverty Trap</a><br /> 
Take a look at Professor Sachs' book <a target="_blank"
					href="http://www.earth.columbia.edu/endofpoverty">"The
    End of Poverty"</a> 
</p>

{% if starting_state_id %}
<form name="start-new-game" action="{% url new_game %}" method="post">
  {% csrf_token %}
  <p>You may 
    <input type="hidden" name="starting_state_id" 
	   value="{{starting_state_id}}" />
    <input type="submit" value="begin a new game"
	   class="regButton" style="font-weight: bold;" />
    in the Millennium Village, or 
    <a href="/games/">pick up where you left off</a>.
  </p> 
</form> 
{% endif %}

  </div>

{% endblock %}
